{%  extends "base.html" %}

{% block title %} Add a new card {% endblock %}

{% block content %}
    <h1>Add a new card</h1>
    <form method="post">
        <p>
            Question:
            <input type="text" name="question">
        </p>
        <p>
            Answer:
            <input type="text" name="answer">
        </p>
        <button type="submit">Create</button>
    </form>
{% endblock %}