<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# <link rel="stylesheet" href="/static/style.css"> #}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <title>Flash Card</title>
</head>
<body>
    <h1>Flash Card</h1>
    Question: {{ card.question }} <br>
    Answer:   {{ card.answer }}

    {# next card #}

    <p>
        <button>
            {% if index < max_index %}
                {# NG <a href="/card/{{ index + 1 }}">#}
                {#   view, args for view function     #}
                <a href="{{ url_for('card_view', index=index + 1) }}">
                    Next Card
                </a>
            {% else %}
                <a href="{{ url_for('card_view', index=0) }}">
                    Start Over
                </a>
            {% endif %}
        </button>

        <button>
            <a href="{{ url_for('welcome') }}">
                Welcome Page
            </a>
        </button>
    </p>
</body>
</html>