{%  extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <h1>Welcome!</h1>
    <p>This is demo application!</p>
    <img src="/static/android.png">

    <p>
        {{ message }}
    </p>

    <a href="{{ url_for('card_view', index=0) }}"> >>> Cards</a>
{% endblock %}